.sidebar{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 8px 10px;
  list-style: none;
  background-color: white;
  background-size: cover;
  min-height: 100%;
  border-radius: 20px;
  margin-right: 25px;
}

.admin-sidebar{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 8px 10px;
  list-style: none;
  background-color: white;
  background-size: cover;
  min-height: 60%;
  border-radius: 20px;
  margin-right: 25px;
}

.sidebar-item{
    position: relative;
    padding: 10px;
    margin: 10px;
}

.sidebar-link{
    color: black;
}

.sidebar-text{
    padding: 10px;
    margin: 10px;
}

.sidebar-icon{
    color: #3d4a69;
    font-size: 16px;
}

.fd-container-box{
  min-height: calc(100vh - 211px - 58px);
  width: 90vW;
  margin: 30 auto;
  padding: 30px 20px;
  background-color: #fafafa;
  border-radius: 20px;
  }

  .admin-container-box{
    min-height: calc(100vh - 211px - 58px);
    width: 68vW;
    margin: 30 auto;
    padding: 30px 20px;
    background-color: #fafafa;
    border-radius: 20px;
    }

  .input-search{
    width: 25rem;
  }

  .search-input-group{
    position: relative;
    display: flex;
    align-items: stretch;
  }

  .rate-container{
    padding: 10px;
    background: #fafafa;
    margin: 10px;
    border-radius: 10px;
  }

  .rate-fd-container{
    min-height: calc(78vh - 211px - 58px);
    width: 90vW;
    margin: 30 auto;
    padding: 30px 20px;
    border-radius: 20px;
  }

  .search-input-group-text{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
  }

  .search-input-group-append{
    margin-left: -1px;
  }

  .search-input-group-btn{
    color: #EB2188;
    background-color: white;
    border: none;
    border-color: white;
  }

  .add-new-btn{
    background-color: #EB2188;
    color: white;
    padding: 8px 25px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* font-family: muli; */
    text-align: center;
    font-size: 14px;
    /* font-family: Muli-Bold; */
    border-radius: 20px;
  }

  .dash-content{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    background-color: blue;
  }

  .fd-content-wrapper{
    /* background-color: #f8f9fc; */
    width: 64%;
    display: inline-block;
  }

  .side-bar-wrapper{
    display: inline-block;
    vertical-align: top;
    width: 35%;
  }

  .fd-block-1{
    background-color: #FFCDE5;
    display: inline-block;
    /* color: pink; */
    margin: 8px;
    padding: 16px;
    border-radius: 20px;
    font-size: 15px;
    color: #3d4a69;
    width: 84%;
  }

  .fd-block-2{
    background-color:#E7EDFF;
    display: inline-block;
    /* color: pink; */
    margin: 8px;
    padding: 16px;
    border-radius: 20px;
    font-size: 15px;
    color: #3d4a69;
    width: 84%;
  }

  .fd-block-3{
    background-color: #DCFAF8;
    display: inline-block;
    /* color: pink; */
    margin: 8px;
    padding: 16px;
    border-radius: 20px;
    font-size: 15px;
    color: #3d4a69;
    width: 84%;
  }

  .fd-block-4{
    background-color: #C4F2FC;
    display: inline-block;
    /* color: pink; */
    margin: 8px;
    padding: 16px;
    border-radius: 20px;
    font-size: 15px;
    color: #3d4a69;
    width: 84%;
  }

  .fd-block-font-size{
    font-size: 20px;
  }

  .fd-table{
    width: 96%;
    text-align: left;
    margin: 10px;
  }

  .fd-tr{
    background-color: white;
    height: 20px;
  }

  .fd-th{
    padding: 10px;
  }

  .fd-dropbtn {
    background-color: #fafafa;
    color: #EB2188;
    width: 100px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
  }
  
  .fd-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .fd-dropdown-content {
    display: none;
    position: absolute;
    border-radius: 20px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .fd-dropdown-content a {
    color: black;
    padding: 12px 16px;
    width: 300px;
    text-decoration: none;
    display: block;
  }
  
  .fd-dropdown-content a:hover {background-color: #ddd;}
  
  .fd-dropdown:hover .fd-dropdown-content {display: block;}
  
  .fd-dropdown:hover .fd-dropbtn {background-color: #fafafa;}

  .fd-row{
    display: flex;
    -ms-flex-wrap: wrap;
    color: white;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    background-color: #EB2188;
  }

  .fd-edit-heading{
    color: "white";
  }

  .fd-cover-box{
    background-color: white;
    padding: 50px;
    box-shadow: 0px 1px 4px 1px #f4f4f4;
    /* box-shadow: 0 0 black; */
    margin: 50px;
    border-radius: 10px;
  }

  .fd-form-container{
    display: inline-block;
    width: 100%;
    padding: 0px 10px 0px 10px;
    margin: 5px;
  }

  .fd-form-container-block1{
    display: inline-block;
    vertical-align: top;
    width: 20%;
  }

  .fd-form-container-block2{
    width: 79%;
    display: inline-block;
  }

  .fd-profile-pic-control{
    display: none;
  }

  .profile-pic{
    width: 200px;
    padding: 10px;
  }

  .proDisp{
    width: 100%;
    height: 100%;
    /* margin: 0px auto; */
    /* border-radius: 50%; */
    object-fit: cover;
    height: 100%;
  }

  .pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }

  .add-design-pic{
    padding: 20px;
    margin: 10px;
    /* background-color: yellowgreen; */
    align-items: center;
    justify-content: center;
    border-right: 10px;
  }

  .add-design-row{
    display: flex;
    justify-content: center;
    width: 100%;
    -ms-flex-wrap: wrap;
    color: black;
    text-align: center;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
  }

  .design-pic{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    justify-content: center;
  }

  .designDisp{
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 100%;
  }

  .add-design-cover{
    margin: 20px 0px 100px 0px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 1px 4px 1px #f4f4f4;
  }

  .main {
    width: 880px;
    height: 500px;
    margin-top: 86px;
    margin-left: 270px;
    /* background: #fafafafa; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #fff;
  }

  .leftside {
    position: absolute;
    height: 500px;
    border-radius: 10px;
    width: 300px;
    /* background-image: url('/ucsc_2202_07/andum.lk/images/d-01.jpg'); */
    background-size: cover;
  }

  .p {
    margin-left: 40px;
    margin-top: 420px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
  }

  .one {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    margin-top: 9px;
  }

  .one:hover {
    border: 2px solid black;
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    margin-top: 9px;
  }

  .text {
    color: black;
  }

  .color-box {
    background-color: pink;
  }

  .onee {
    border: 1px solid black;
    width: 42px;
    font-size: 14px;
    height: 22px;
    float: left;
    margin-right: 5px;
    text-align: center;
  }

  .on {
    border: 1px solid black;
    border-radius: 10px;
    border-color: pink;
    width: 30px;
    background-color: pink;
    height: 30px;
    float: left;
    margin-right: 5px;
    text-align: center;
  }

  .on1 {
    border: 1px solid black;
    border-radius: 10px;
    border-color: blue;
    width: 30px;
    background-color: blue;
    height: 30px;
    float: left;
    margin-right: 5px;
    text-align: center;
  }

  .on2 {
    border: 1px solid black;
    border-radius: 10px;
    border-color: black;
    width: 30px;
    background-color: black;
    height: 30px;
    float: left;
    margin-right: 5px;
    text-align: center;
  }



  .onee:hover {
    border: 2px solid black;
    width: 42px;
    height: 22px;
    float: left;
    text-align: center;
  }

  h1 {
    font-weight: bold;
    font-family: sans-serif;
  }

  .rightside {
    width: 385px;
    height: 500px;
    border-radius: 10px;
    float: right;
    background: #fff;
  }

  .inside {
    padding: 18px;
  }

  .cart-button {
    padding: 9px 25px;
    background-color: #EB2188;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
    -webkit-appearance: none;
  }

  .alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px; 
  }
  .cart-button:hover {
    color: black;
  }

  .second {
    width: 50px;
  }

  .second:hover {
    width: 50px;
    background-color: #fab7cc;
  }
  .accept-button{
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
  }

  


