* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
}


/* -----Generic Styles----- */

body{
    font-family: muli;
    height: 100%;
}

li, a, button{
        cursor: pointer;
}

a{
  text-decoration: none;
}

button:hover {
  color: black;
}

button:focus{
  outline: none;
  border: none;
}

.error{
  width: 100%;
    margin: 20px;
    padding: 10px;
    border: 1px solid #fafafafa;
    border-radius: 10px;
    text-align: left;
    background: #fafafafa;
   
}

/* -----Generic Styles Ends----- */

/* -----Navbar Styles----- */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 1px 1px 4px 1px #fafafa
}

.user-type-box{
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px #f4f4f4;
  align-items: center;
  justify-content: center;
}

.logo {
    cursor: pointer;
    height: 50px;
}

.body-img {
    cursor: pointer;
    height: 100px;
}

.footer-logo {
    cursor: pointer;
    height: 100px;
}

.nav-area {
  list-style: none;
  position: relative;
}

.nav-area li{
  display: inline-grid;
  padding: 0px 20px; 
}

.text-box{
  padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 10px;
}

#icon{
  font-size: 20px;
  float: right;
  cursor: pointer;
  display: flex;
}

 @media (max-width:1048px)
{
  header 
  {
    display: block;    
  }
  .nav-area li
  {
    display: block;
  }
  .logo {
    font-size: 32px;
    padding: 60px;
  }
  nav ul{
    margin-right: 20px;
  }
  nav a{
    font-size: 17px;
  }
}

@media (max-width:909px){
  nav #icon{
    font-size: 20px;
    float: right;
    cursor: pointer;
    display: none;
  }

  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: 0;
    text-align: center;
  }

  nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav a{
    font-size: 20px;
  }

}

.nav-area li a{
  color: rgb(160, 156, 156);
  transition: all 0.3s ease 0s;
  font-weight: 600;
  color: #121212;
  font-size: 14px;
}

.nav-area li a:hover{
  color: rgb(0, 0, 0);
}

.navbar-main{
  display: flex;
  padding: 10px 40px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
 
}
/* @media screen and (max-width:480px) {
  .navbar-main{
    display: block;
  }
} */
nav > ul{
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
  padding: 0;

}

nav a{
  display: block;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li{
  list-style: none;
  transition: 0.5s;
}

nav > ul > li > a{
  padding: 15px 25px;
}

.nav-item-middle ul > li.dropdown > a:after{
  position: relative;
  float: right;
  content: '';
  margin-left: 10px;
  margin-top: 8px;
}

/* @media screen and (max-width:800px)
{
  .nav-area{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 1s ease;
    display: none;
  }

  .close-menue{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .open-menue{
    display: block;
  }
} */

.menu-area{
  margin: 0px;
  padding: 30px;
  background: #ffffff;
  text-align: left;
  border-top: 5px solid #ffffff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  z-index: 1;
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  top: -9999px;
  left: 0;
  border-radius: 4px;
  width: 100%;
}

.menu-area li{
  padding: 0px;
}

nav ul li:hover ul.menu-area{
  top: 100%;
}

nav ul.menu-area .inner-menu{
  color: #262626;
  font-size: 13px;;
  padding: 0px 36px;
}

nav ul.menu-area ul li.inner-list-header{
  text-transform: uppercase;
  /* font-family: Muli-ExtraBold; */
  font-weight: 700;
  margin-bottom: 10px;
}


nav ul.menu-area h4{
  margin-bottom: 15px;
  text-transform: uppercase;
}

nav ul.menu-area ul li{
  display: block;
}

nav ul.menu-area ul li a{
  margin: 10px 0px;
  color: #484848;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0px;
}

nav ul.menu-area ul li a:hover{
    color: #EB2188;
}




/* -----Navbar Styles Ends----- */


/* -----Font Styles----- */

@font-face {
    font-family: muli;
    src: url('/ucsc_2202_07/andum.lk/fonts/Muli/static/Muli-Regular.ttf');
  }

  @font-face {
    font-family: Muli-ExtraBold;
    src: url('/ucsc_2202_07/andum.lk/fonts/Muli/fonts/Muli/static/Muli-ExtraBold.ttf');
  }

  @font-face {
    font-family: Muli-Light;
    src: url('/ucsc_2202_07/andum.lk/fonts/Muli/static/Muli-Light.ttf');
  }

  @font-face {
    font-family: Muli-Medium;
    src: url('/ucsc_2202_07/andum.lk/fonts/Muli/static/Muli-Medium.ttf');
  }

  @font-face {
    font-family:Muli-Bold;
    src: url('/ucsc_2202_07/andum.lk/fonts/Muli/static/Muli-Bold.ttf');
  }

  @font-face {
    font-family:Muli-SemiBold;
    src: url('/ucsc_2202_07/andum.lk/fonts/Muli/static/Muli-SemiBold.ttf');
  }

  /* -----Font Styles Ends----- */

/* -----Button Styles----- */

.btn-primary {
    padding: 9px 25px;
    background-color:#EB2188;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
    -webkit-appearance: none;
}

.btn-panel-center{
  text-align: left;
  padding: 20px;
}

.btn-full-w{
  margin: 10px auto;
}

.casual-btn{
  padding: 9px 25px;
  margin: 10px;
  color: white;
  background-color:#EB2188;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.casual-btn :hover{
  color: black;

}

.search-btn{
  border: none;
}


/* -----Button Styles Ends----- */

/* -----Form Styles ----- */

.form-field-inline{
    display: flex;
    align-items: center;
    font-weight: 500;
}

.field-label-inline{
  flex: 1;
  font-weight: 500;
  padding: 10px;
  margin: 10px;
}

.field-value-inline{
  flex: 3;
  background-color: white;
  border-color: #fafafa;
  border-radius: 8px;
}

/* -----Form Styles Ends----- */


/* -----Footer Styles ----- */

.footer{
    background:  #FAFAFA;
    color: black;
    position: relative;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin-top: 80px;
}

.footer .footer-content{
    display: flex;
}

@media screen and (max-width:480px) {
  .footer .footer-content{
    display: block;
}
}


.footer .footer-content .footer-section{
    flex: 1;
    padding:20px 40px;
}

.footer-section ul{
    list-style: none;
}

.footer-section ul > a > li{
  font-size: 13px;
  font-weight: 600;
  color: black;
  margin: 20px;
}

.footer .footer-bottom{
    background: black;
    color: white;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding: 10px 15px;
}


/* .footer-logo { */
    /* display: block;
    margin-bottom: 16px;
} */


/* -----Footer Styles Ends----- */

.search-container{
  width: 50%;
    border-color: #ccc;
    box-shadow: 0px 1px 4px 1px #fff;
    background-color: white;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
    margin: 9px auto;

}

/* .product-container{
    width: 58%;
    box-shadow: 0px 1px 4px 1px #f4f4f4;
    border-radius: 8px;
    padding: 20px 40px;
    margin: 10px auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .price {
    color: grey;
    font-size: 22px;
  }

  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card button:hover {
    opacity: 0.7;
  } */

  .sliderbox-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .slider-box{
    flex: 1;
    margin: 20px 100px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    text-align: left;

  }

  .slider-box a{
      text-decoration: none;
      text-align: center;
  }

  .image{
    cursor: pointer;
    height: 50px;

}

  .img-box{
      height: 250px;
      padding-top: 10px;
  }

  .img-box img{
      height: auto;
      max-width: 100%;
      max-height: 100%;
      padding-left: 10px;
  }

  .time{
      position: absolute;
      top: 0px;
      right: 20px;
      color: blueviolet;

  }
  .detail{
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      font-size: 13px;
      line-height: 35px;
  }

  .price{
      color:white;
      background-color: #ff555b;
      line-height: 20px;

  }

  .cart{

    /* position: absolute; */
    /* bottom: 0px; */
    /* height: 45px; */
    background-color: #ff696e;
    /* width: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 10px;
  }

  .cart a{
      color: #ffffff;
  }

  .slider-box:hover{
      box-shadow: 2px 2px 12px rgba(47,47,47,0.40);
  }

  /* .slider-box:hover .img-box img{
      transform:scale(1.07);
      transition: all ease 0.3s;
  } */

  .cart:hover{
      transform: scale(1.1);
      background-color: #EB2188;
      box-shadow: 2px 2px 12px rgba(47,47,47,0.40);
      transition: all ease 0.1s;
  }

/*profile card*/
.card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        /* font-family: Muli-Light; */
}

.title {
        color: grey;
        font-size: 25px;
}
.column {
        float: center;
        width: 25%;
        padding: 0 10px;
}

/* --------Grid Layout------- */

  .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  @media screen and (max-width:480px)
  {
    .row {
      display: block;
    }
  }

  .col-1{
    flex: 0 0 8.3333333%;
    max-width: 8.3333333%;
  }

  .col-2{
    flex: 0 0 16.666666%;
    max-width: 16.666666%;
  }

  .col-3{
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .col-5{
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-6{
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-8{
    flex: 0 0 66.666666%;
    max-width: 66.666666%;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: inherit;
    width: 50%;
    margin: 10px;
    padding: 10px;
    flex: 1;
  }

  /* --------Grid Layout Ends------- */

  .input-field {
    width: 60%;
    padding: 10px;
    /* font-family: muli; */
    color: black;
    outline: none;
    border-radius: 25px;
    border: 1px solid #ccc;
  }

  .input-field:focus {
    border: 2px solid black;
  }

  .option{
    background-color: #ffffff;
    padding: 10px 10px;
    color: #7b7775;
    border-radius: 25px;
    border: 1px solid #ccc;
  }

  .measure{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }

  .text-area{
      margin: 10px;
      padding: 10px;

  }

  .d-flex{
      display: flex;
      width: 100%;
      align-items: center;
  }

  @media screen and (max-width:480px) {
    .d-flex{
      display: block;
      width: 100%;
      align-items: center;
  }
  }


  .f1{
    flex: 1;
  }

  .f2{
      flex:2;
  }

  .align-c{
      align-items: center;
  }

  .title-lg{
    
    font-size: 54px;
    /* font-family: Muli-ExtraBold; */
  }

  .title-lg-light{
    font-size: 22px;
    color: #555555;
    margin: 10px 0px;
    /* font-family: Muli-Light; */
  }

  .landing-text-content{
    padding: 0 10%;
  }

.txt-area{
    background-color: #ffffff;
    flex: 1;
    margin: 20px 156px 20px 0px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;

}

.landing-btn-section{
    margin:15px 0px;
}

.measure-card-value {
    color: #ccc;
}

.slideshow-container{
    height: 90vh;
    overflow: hidden;
}

.mySlides img{
    width:100%;
}

.mega-dropdown{
    float: left;
    padding: 50px;
    margin: 50px;

}

/* ------------Card Styles------------------- */

.card-item{
  width: 300px;
  background: white;
  border-radius: 4px;
  margin: 20px;
}

.card-item-1{
  width: 100%;
    background: white;
    display: flex 1;
    border-radius: 4px;
    margin: 20px;
}

.card-item .card-img{
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.card-img{
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.user-card-img{
  width: 100%;
  padding: 50px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.card-item-1 .card-img{
  width: 100%;
    height: 271px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.card-item .card-img2{
  width: 100%;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.card-item-1 .card-img2{
  width: 100%;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.card-img-style{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.card-item .card-content{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

.card-item-1 .card-content{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

.card-item .card-content .card-title{
    font-size: 18px;
    /* font-family:Muli-Bold; */
    margin-bottom: 5px;
}

.card-item-1 .card-content .card-title{
  font-size: 14px;
  /* font-family:Muli-Bold; */
  margin-bottom: 5px;
}

.card-item .card-content .card-description{
    color: #484848;
    font-size: 14px;
}

.card-item-1 .card-content .card-description{
  color: #484848;
  font-size: 14px;
}

/* ------------Card Styles Ends------------------- */

/* -------------Dropdown styles------------------- */

.wrapper{
  width: 1170px;
  margin: 20px auto;
}

/* -------------Dropdown Styles Ends-------------- */

/* -------------Tailor slider-------------- */
.slide-box{
  width: 400px;
  box-shadow: #EB2188;
  border-radius: 20px;
  margin: 20px;
}

.slide-img{
  height: 300px;
  position: relative;
}

.slide-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.slide-detail{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #FAFAFA;
  /* font-family: Muli-Light; */
}

.slide-type{
  display: flex;
  flex-direction: column;
}

.slide-type a{
  color: #FAFAFA;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}

.slide-type span{
  color: rgba(26,26,26,0.5);
}

.slide-price{
  color: #000000;
  font-weight: 600;
  font-size: 1.1rem;
  /* font-family: Muli-Light; */
  letter-spacing: 0.5px;
}

.overlayer{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background-color: rgb(92,95,236,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-btn{
  width: 160px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  color: #EB2188;
  font-weight: 700;
  letter-spacing: 1px;
  /* font-family: Muli-Light; */
  border-radius: 20px;
  box-shadow: 2px 2px 30px #FAFAFA;
}

.buy-btn :hover{
  color: white;
  background-color: whitesmoke;
  transition: all ease 0.3s;
}

.overlayer{
  visibility: hidden;
}

.slide-img:hover .overlayer{
  visibility: visible;
  animation: 0.5s;
}

@keyframes fade{
  0%{
    opacity: 0s;
  }
  100%{
    opacity: 1;
  }
}



.tslider{
  width: 100%;
  /* height: 80vh; */
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tslider-box{
  width: 300px;
  /* height: 400px; */
  background-color: #FAFAFA;
  border-radius: 10px;
  box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  box-sizing: border-box;
  margin: 30px 30px;


}

.model{
  height: 450px;
  max-height: 100%;
  max-width: 100%;
}

.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 60px;
}

.details p{
  color: black;
  text-align: center;
  margin-top: 20px;
}

.product{
  color: #868686;
  letter-spacing: 2px;
  font-size: 12px;
}

.tslider-box:hover{
  background-color: white;
  transform-style: preserve-3d;
  transform: scale(1.02);
  transition: all ease 0.3s;
}

a{
  text-decoration: none;
} */


}

/*--responsive for mobile phone--*/
/* @media(max-width:720px){
	.tslider-box{
		width: 94%;
		height: 500px;
	}
	.model{
		height:250px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}



/* -------------Tailor slider Ends-------------- */

.box .nav_right > ul{
	display: flex;
  align-items: center;
  list-style: none;
}

.box .nav_right > ul li{
  position: relative;
  color: #EB2188;
  font-size: 30px;
  display: inline-block;
  margin: 0px 10px;
}

.nav_right i{
  color: #EB2188;
  font-size: 22px;
}

.nav_right li{
  margin: 0px 10px;
}

.box .nav_right ul li .dd_right{
  position: absolute;
  top: 45px;
  right: -10px;
  background: #fafafafa;
  padding: 10px 25px;
  border-radius: 5px;
  display: none;
}

.box .nav_right ul li.active .dd_right{
  display: block;
}

.box .nav_right ul li .dd_right .fas{
  margin-right: 10px; 
}

.box .nav_right ul li .dd_right:before{
  content: "";
  position: absolute;
  top: -20px;
  left: 90%;
  transform: translateX(-50%);
  border: 10px solid;
  border-color: transparent transparent #fafafa transparent;

}

.nav_right{
  display: flex;
}

.box .nav_right > ul li a{
  display: flex;
    width: max-content;
    height: 40px;
    align-items: center;
    color: black;
    font-size: 10px;
}

.box .nav_right > a{
  text-align: right;
}

.box .nav_right ul li.nr_li{
	margin : 0px 25px;
	cursor: pointer;
	color: #EB2188;
	font-size: 30px;
	position: relative;
}

.box .nav_right ul li.nr_li:hover {
    color: black;
}

.box .nav_right ul li img{
  margin: 0 10px;
	width: 35px;
  vertical-align: middle;
  border-radius: 20px;
}

.box .nav_right ul li img{
	width: 35px;
  vertical-align: middle;
  border-radius: 100px;
}

.box .dd_menu {
    position: absolute;
    right: -25px;
    top: 47px;
    display: flex;
    background: #EB2188;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(153, 123, 123, 0.25);
    display: none;
}

.box .dd_menu .dd_left{
	background: #74ded8;
	padding: 15px 20px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.box .dd_menu .dd_left li{
	color: black;
}

.box .dd_menu .dd_right{
	padding: 15px 20px;
}

.box .dd_menu li{
	margin-bottom: 10px;
	color: #868686;
}

.box .dd_menu:before{
	content: "";
	position: absolute;
	top: -20px;
	right: 30px;
	border: 20px solid;
	border-color: transparent transparent #fff transparent;
}

.box .dd_main.active .dd_menu{
	display: flex;
}

/* .open-menue{
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.close-menue{
  font-size: 2rem;
  cursor: pointer;
  display: none;
} */

.tailor-headding{
  margin: 80px;
  padding: 10px;
  text-align: center;
}

.user-type-headding{
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.measure-headding{
  margin-top: 20px;
  margin-bottom: 50px;
}

.quantity
{
  position: relative;
  top: 50%;
  padding: 10px 0px;
  /* left: 50%; */
  /* transform: translate(-50%,-50%); */
}

.quentity-input{
  width: 70px;
    height: 39px;
    border: outset;
    outline: none;
    padding: 20px:;
    border-radius: 20px;
    border-color: #eb2188;
    /* background: #ccc; */
    padding-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.avatar{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-image: url("/ucsc_2202_07/andum.lk/images/edit-user-icon.png");
  background-size: cover;
}

.container-box{
  min-height: calc(100vh - 211px - 58px);
  width: 90vW;
  margin: 0 auto;
  padding: 30px 20px;
}

.text-view-more{
  margin: 0px 20px 0px 0px;
    padding: 10px;
    text-align: right;
    font-size: 14px;
    text-transform: uppercase;
}

.edit-headding{

}

.img1{
  width: 100%;
  height: 300px;
  padding: 60px;
  overflow: hidden;
  height: 490px;
  object-fit: contain;
  width: 100%;
  height: 600px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
}

.product-s{
  font-size: 16px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 10px 10px 0px;
}

.btn-container{
  margin: 20px 20px 0px 20px;
    padding: 20px 20px 0px 20px;
}

.product-detail-box{
  padding: 60px 0px;
  font-size: 20px;
}

.product-cont{
  display: flex;
  margin: 10px 10px 10px 0px;
  padding: 10px 10px 10px 0px;
  align-items: center;
}

.customized{
  margin: 10px 10px 10px 0px;
  padding: 10px 10px 10px 0px;
}

.costomize-text{
  color: black;
}

.measure-card{
  padding: 10px;
}

.category-label{
  padding: 10px;
}

.hire-button{
    background-color: #eb2188;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: none;
}

.add-new-position{
  direction: rtl;
    padding: 10px;
    margin: 20px 50px 0px 20px;
}

.submit-button{
  padding: 10px;
    border: none;
    hight: 15px;
    border-radius: 20px;
    margin: 5px;
    background-color: #eb2188;
}

.submit-quantity{
  padding: 5px;
  margin: 5px;
  width: 72px;
}

.checkout-box{
  display: flex;
  justify-content: center;
}

.checkout-box-block{
  padding: 10px;
  margin: 10px;
}

.fd-profile-row{
  display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.fd-profile-row2{
  display: flex;
  -ms-flex-wrap: wrap;
  padding: 0px 100px 0px 100px;
  flex-wrap: wrap;
  justify-content: center;
}

.admin-search-container {
  width: 28%;
  border-color: #ccc;
  box-shadow: 0px 1px 4px 1px #fff;
  background-color: white;
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  margin: 0px 0px 20px 1000px;
}

.view-button {
  padding: 6px 10px;
    background-color: #EB2188;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
}

.order-detail-box{
  background-color: #FFCDE5;
    padding: 40px;
    width: 32%;
    margin: 40px 400px 40px 300px;
    border-radius: 30px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.order-input-container{
  width: 92%;
  box-shadow: 0px 1px 4px 1px #f4f4f4;
  display: block;
  position: relative;
  border-radius: 8px;
  padding: 50px 60px 50px 60px;
  margin: 40px;
}

.order-measure-headding{
  margin: 40px 40px 40px 0px;
}

#form-2{
  left: 450px;
}

/* ----------- Chat Styles ---------- */

#chat-container {
  display: grid;
  border: 2px solid #dedede;
  grid: 
  'search-container chat-title' 71px
  'conversation-list chat-message-list' 1fr
  'new-message-container chat-form' 78px / 275px 1fr
  ;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 60%;
    align-items: center;
    border-radius: 30px;
}

#new-message-container {
  display: grid;
  grid: 40px /40px ;
  align-content: center;
  grid-area: new-message-container;
  background: blue;
  border-top: 1px solid rgba(0,0,0,0.25);
  border-radius: 0 0 0 10px;
  padding: 0px 15px;
}

#new-message-container a {
  display: grid;
  place-content: center center;
  background: #eee;
  border-radius: 10px;
  color: #002CBB;
  text-decoration: none;
  font-size: 3.6rem;
}

#chat-search-container{
    align-items: center;
    padding: 5px;
    margin: 10px;
    grid-area: chat-search-container;
    border-radius: 10px 0px 0px 0px;
    box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);
    z-index: 1;
    background: #eb2188;
}

#div-2{
  display: none;
  box-shadow: 0px 1px 4px 1px #f4f4f4;
    padding: 10px;
    /* display: inline-block; */
    margin: 10px;
}

#chat-search-container input{
  color: #eee;
  outline: none;
  font-weight: bold;
  border-radius: 2px;
  height: 30px;
  border: 0;
  padding-left: 48px;
  padding-right: 20px; 
  font-size: 1,4rem;
  background: url('../images/search/search.svg') no-repeat rgba(255, 255, 255, 0.3);
  background-position: 15px center;
  background-size: 20px 20px;
}

.chat-right{
  display: flex;
}

.chat-row{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 10px 0px 0px 9px;
  background-color: #fafafa;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
}

.delete-image{
  width: 20px;
  /* padding: 10px; */
  margin: 10px 20px 10px 10px;
  color: #eb2188;
}

.chat-name{
  padding: 10px;
    margin: 10px;
}

#chat-search-container input::placeholder{
  color: #ddd;
  font-weight: bold;
}

#conversation-list {
  background: blue;
  overflow-y: scroll;
}

.conversation{
  display: grid;
  grid-template-columns: 40px 1fr max-content;
  grid-gap: 10px;
  color: #ddd;
  font-size: 1.3rem;
  border-bottom: 1px solid #002C88;
  padding: 20px 20px 20px 15px;
}

.conversation.active{
  background: #002C88;
}

.conversation:hover{
  background: #002C88;
  cursor: pointer;
}

.conversation > img{
  grid-row: span 2;
  height: 40px;
  border-radius: 100%;
}

.title-text{
  font-weight: bold;
  color: #eee;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.created-date{
  color: #ddd;
  font-size: 1rem;
}

.conversation-message{
   grid-column: span 2;
   padding-left: 5px;
   white-space: nowrap;
   text-overflow: ellipsis;
}

#chat-title {
  display: flex;
    align-items: center;
    background: #eee;
    color: #0048AA;
    font-weight: bold;
    font-size: 16px;
    border-radius: 0px 10px 0px 0px;
    box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);
    padding: 10px;
    margin: 20px 20px 20px 20px;
    width: 97%;
}

#chat-title> img{
  cursor: pointer;
  width: 20px;
}

.message-row{
  margin-bottom: 20px;
}

.message-text{
  display: grid;
  grid-template-columns: 70%;
  margin-bottom: 20px;
}

.you-message{
  justify-content: end;
  justify-items: start;
}

.you-message .message-content{
  justify-items: end;
}

.other-message{
  justify-items: start;
}

.other-message .message-content{
  justify-items: start;
}

.message-time{
  font-size: 10px;
    color: #777;
}

.message-content{
  display: grid;
}

.you-message .message-text{
  background: #eb2188;
    color: #eee;
    padding: 4px;
    margin: 4px;
    border-radius: 14px 14px 0 14px;
}

.other-message .message-text{
  background: #eee;
  color: #111;
  padding: 4px;
    margin: 4px;
  border: 1px solid #ddd;
  border-radius: 14px 14px 14px 0px;
}

#chat-message-list{
  grid-area: chat-message-list;
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    overflow-y: scroll;
}

#chat-form {
  display: grid;
  grid: 51px / 32 1fr;
  align-content: center;
  align-items: center;
  grid-gap: 15px;
  grid-area: chat-form;
 background: #eee;
 border-radius: 0px 0px 10px 0px;
 border-top: 1px solid rgba(0,0,0,0.25);
 padding-left: 42px;
 padding-right: 22px;
}

#chat-form input{
  outline: none;
  padding: 15px;
  border: 2px solid #ddd;
  color: #330;
  border-radius: 6px;
  font-size: 1.4rem;
}

::-webkit-scrollbar {
  display: none;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

/* ---------- Contact Us Styles ----------- */

.contact-us-container{
  box-shadow: 0px 1px 4px 1px #f4f4f4;
    border-radius: 8px;
    padding: 40px;
    margin: 20px;
}

.contact-detail-box{
  background-color: #fafafa;
    padding: 20px;
    margin: 20px;
    height: 92%;
    display: flex;
}

.contact-text1{
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.contact-text2{
  padding: 10px;
  margin: 10px;
}

.txt-area2{
  background-color: #ffffff;
    flex: 23;
    margin: 20px 40px 20px 138px;; 
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    width: 100%;
}

/* ---------- Order Status Styles ---------- */

.next-box{
  padding: 10px;
    margin: 5px;
}

.form-outer{
  width: 100%;
  overflow: hidden;
}

.form-outer form{
  display: flex;
  width: 400%;
}

.f1{
  display: flex;
}

.field{
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  margin-top: -20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}

.cust-n{
  text-align: left;
}

.title-n{
  font-weight: bold;
  text-align: left;
}

.toggle-btn{
  padding: 8px 20px;
    background-color: #EB2188;
    margin: 10px;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
}

.input-container{
  width: 92%;
  box-shadow: 0px 1px 4px 1px #f4f4f4;
  border-radius: 8px;
  padding: 30px 40px;
  margin: 100px auto;
}

.container-2{
  background-color: #fafafa;
  padding: 20px;
  margin: 50px;
  border-radius: 10px;
  display: grid;
  justify-content: center;
}

/* ---------- Order Styles starts ---------- */

.main {
  width: 880px;
  height: 500px;
  margin-top: 86px;
  margin-left: 270px;
  /* background: #fafafafa; */
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #fff;
}

.leftside {
  position: absolute;
  height: 500px;
  border-radius: 10px;
  width: 300px;
  /* background-image: url('/ucsc_2202_07/andum.lk/images/d-01.jpg'); */
  background-size: cover;
}

.p {
  margin-left: 40px;
  margin-top: 420px;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
}

.one {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  margin-top: 9px;
}

.one:hover {
  border: 2px solid black;
  width: 30px;
  height: 30px;
  float: left;
  text-align: center;
  margin-top: 9px;
}

.text {
  color: black;
}

.color-box {
  background-color: pink;
}

.onee {
  border: 1px solid black;
  width: 42px;
  font-size: 14px;
  height: 22px;
  float: left;
  margin-right: 5px;
  text-align: center;
}

.on {
  border: 1px solid black;
  border-radius: 10px;
  border-color: pink;
  width: 30px;
  background-color: pink;
  height: 30px;
  float: left;
  margin-right: 5px;
  text-align: center;
}

.on1 {
  border: 1px solid black;
  border-radius: 10px;
  border-color: blue;
  width: 30px;
  background-color: blue;
  height: 30px;
  float: left;
  margin-right: 5px;
  text-align: center;
}

.on2 {
  border: 1px solid black;
  border-radius: 10px;
  border-color: black;
  width: 30px;
  background-color: black;
  height: 30px;
  float: left;
  margin-right: 5px;
  text-align: center;
}



.onee:hover {
  border: 2px solid black;
  width: 42px;
  height: 22px;
  float: left;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-family: sans-serif;
}

.rightside {
  width: 385px;
  height: 500px;
  border-radius: 10px;
  float: right;
  background: #fff;
}

.inside {
  padding: 18px;
}

.cart-button {
  padding: 9px 25px;
  background-color: #EB2188;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-align: center;
  -webkit-appearance: none;
}

.cart-button:hover {
  color: black;
}

.second {
  width: 50px;
}

.second:hover {
  width: 50px;
  background-color: #fab7cc;
}
.alert {
  padding: 20px;
margin: 20px;
background-color: #eb2188;
color: white;
}

.accept-button{
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

/* ---------- Order Styles ends ---------- */

/* -------- Tailor Styles Starts -------- */
.leftside {
  position: absolute;
  height: 500px;
  border-radius: 10px;
  width: 300px;
  /* background-image: url('/ucsc_2202_07/andum.lk/images/d-01.jpg'); */
  background-size: cover;
}

.p {
  margin-left: 40px;
  margin-top: 420px;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
}

.one {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  margin-top: 9px;
}

.one:hover {
  border: 2px solid black;
  width: 30px;
  height: 30px;
  float: left;
  text-align: center;
  margin-top: 9px;
}

.text {
  color: black;
}

.color-box {
  background-color: pink;
}

.onee {
  border: 1px solid black;
  width: 42px;
  font-size: 14px;
  height: 22px;
  float: left;
  margin-right: 5px;
  text-align: center;
}

.on {
  border: 1px solid black;
  border-radius: 10px;
  border-color: pink;
  width: 30px;
  background-color: pink;
  height: 30px;
  float: left;
  margin-right: 5px;
  text-align: center;
}

.on1 {
  border: 1px solid black;
  border-radius: 10px;
  border-color: blue;
  width: 30px;
  background-color: blue;
  height: 30px;
  float: left;
  margin-right: 5px;
  text-align: center;
}

.on2 {
  border: 1px solid black;
  border-radius: 10px;
  border-color: black;
  width: 30px;
  background-color: black;
  height: 30px;
  float: left;
  margin-right: 5px;
  text-align: center;
}



.onee:hover {
  border: 2px solid black;
  width: 42px;
  height: 22px;
  float: left;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-family: sans-serif;
}

.rightside {
  width: 385px;
  height: 500px;
  border-radius: 10px;
  float: right;
  background: #fff;
}

.inside {
  padding: 18px;
}

.cart-button {
  padding: 9px 25px;
  background-color: #EB2188;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-align: center;
  -webkit-appearance: none;
}

.cart-button:hover {
  color: black;
}

.second {
  width: 50px;
}

.second:hover {
  width: 50px;
  background-color: #fab7cc;
}

.column {
  float: left;
  width: 12%;
  height: 1%;
  padding: 2px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.t-card-img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.a-box
{
  position: absolute;
    border-radius: 10px;
    width: 800px;
    display: flex;

}
/* -------- Tailor Styles Ends -------- */











/* .tailor-headding{
  padding: 200px 200px 0px 200px;
} */




