.tailor-container-box{
    min-height: calc(100vh - 211px - 58px);
  width: 90vW;
  margin: 0 auto;
  padding: 30px 20px;
}

.tailor-cover{
    width: 100%;
    display: inline-block;
}

.tailor-heading{
    padding: 20px 0px 0px 60px;
    margin: 10px;
}

.dress-showcase{
    padding: 10px;
    margin: 50px;
    
}

.main {
    width: 880px;
  height: 200px;
  margin-top: 86px;
  margin-left: 270px;
  /* background: #fafafafa; */
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #fff;
}

.tailor-row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}

