* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: muli;
}

li, a, button{
        font-family: muli;
        font-weight: 160px;
        font-size: 16px;
        text-decoration: none;
        padding: 0px 5px;
        cursor: pointer;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;

}

.logo {
    cursor: pointer;
    height: 50px;

}

.body-img {
    cursor: pointer;
    height: 100px;

}

.footer-logo {
    cursor: pointer;
    height: 100px;

}

@font-face {
    font-family: muli;
    src: url('./fonts/Muli/static/Muli-Regular.ttf');
  }

  @font-face {
    font-family: Muli-ExtraBold;
    src: url('./fonts/Muli/static/Muli-ExtraBold.ttf');
  }

  @font-face {
    font-family: Muli-Light;
    src: url('./fonts/Muli/static/Muli-Light.ttf');
  }

  @font-face {
    font-family: Muli-Medium;
    src: url('./fonts/Muli/static/Muli-Medium.ttf');
  }

  @font-face {
    font-family:Muli-Bold;
    src: url('./fonts/Muli/static/Muli-Bold.ttf');
  }

  @font-face {
    font-family:Muli-SemiBold;
    src: url('./fonts/Muli/static/Muli-SemiBold.ttf');
  }


.nav-area {
    list-style: none;
}

.nav-area li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-area li a{
    color: rgb(160, 156, 156);
    transition: all 0.3s ease 0s;
    font-weight: 600;
    color: #121212;
    font-size: 14px;
}

.nav-area li a:hover{
    color: rgb(0, 0, 0);
}
button {
    padding: 9px 25px;
    background-color:#EB2188;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
}

button {
    display: flex 2;
    background-color:#F5F3FF;
    color: black;
}

button:hover {
    color: black;
}


.box {
    background: white;
    padding: 5px;
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.5);
}

/* form-styles */

.form-field-inline{
    display: flex;
    align-items: center;
}

.field-label-inline{
    flex:1;
    font-weight: 500;
}

.field-value-inline{
    flex:3;
    border-radius: 8px;
}

.login-container{
    width: 58%;
    box-shadow: 0px 1px 4px 1px #f4f4f4;
    border-radius: 8px;
    padding: 30px 40px;
    margin: 100px auto;
}

.btn-panel-center{
    text-align: left;
}

.btn-full-w{
    /* width: 15%; */
    margin: 10px auto;
}

.casual-btn{
    padding: 9px 25px;
    margin: 10px;
    color: white;
    background-color:#EB2188;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
}

.casual-btn :hover{
    color: black;

}
/* footer */

.footer{
    background:  #FAFAFA;
    color: black;
    position: relative;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin-top: 80px;

}

.footer .footer-content{
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding:20px 40px;
}

.footer-section ul{
    list-style: none;
}

.footer-section ul > a > li{
    font-size: 13px;
    font-weight: 600;
    color: black;
}

.footer .footer-bottom{
    background: black;
    color: white;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding: 10px 15px;
}


/* .footer-logo { */
    /* display: block;
    margin-bottom: 16px;
} */

.search-container{
    width: 58%;
    box-shadow: 0px 1px 4px 1px #f4f4f4;
    border-radius: 8px;
    padding: 0px 40px;
    margin: 10px auto;
}

/* .product-container{
    width: 58%;
    box-shadow: 0px 1px 4px 1px #f4f4f4;
    border-radius: 8px;
    padding: 20px 40px;
    margin: 10px auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .price {
    color: grey;
    font-size: 22px;
  }

  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card button:hover {
    opacity: 0.7;
  } */

  .sliderbox-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .slider-box{
    flex: 1;
    margin: 20px 100px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    text-align: left;

  }

  .slider-box a{
      text-decoration: none;
      text-align: center;
  }

  .image{
    cursor: pointer;
    height: 50px;

}

  .img-box{
      height: 250px;
      padding-top: 10px;
  }

  .img-box img{
      height: auto;
      max-width: 100%;
      max-height: 100%;
      padding-left: 10px;
  }

  .time{
      position: absolute;
      top: 0px;
      right: 20px;
      color: blueviolet;

  }
  .detail{
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      font-size: 13px;
      line-height: 35px;
  }

  .price{
      color:white;
      background-color: #ff555b;
      line-height: 20px;

  }

  .cart{

    /* position: absolute; */
    /* bottom: 0px; */
    /* height: 45px; */
    background-color: #ff696e;
    /* width: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 10px;
  }

  .cart a{
      color: #ffffff;
  }

  .slider-box:hover{
      box-shadow: 2px 2px 12px rgba(47,47,47,0.40);
  }

  /* .slider-box:hover .img-box img{
      transform:scale(1.07);
      transition: all ease 0.3s;
  } */

  .cart:hover{
      transform: scale(1.1);
      background-color: #EB2188;
      box-shadow: 2px 2px 12px rgba(47,47,47,0.40);
      transition: all ease 0.1s;
  }

/*profile card*/
.card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
}

.title {
        color: grey;
        font-size: 25px;
}
.column {
        float: center;
        width: 25%;
        padding: 0 10px;
}

/* --------Grid Layout------- */

  .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-1{
    flex: 0 0 8.3333333%;
    max-width: 8.3333333%;
  }

  .col-2{
    flex: 0 0 16.666666%;
    max-width: 16.666666%;
  }

  .col-3{
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333;
  }
  
  .col-5{
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-6{
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: inherit;
    width: 50%;
    margin: 10px;
    padding: 10px;
    flex: 1;
  }

  /* --------Grid Layout Ends------- */

  .input-field {
    width: 60%;
    padding: 10px;
    font-family: muli;
    color: black;
    outline: none;
    border-radius: 25px;
    border: 1px solid #ccc;
  }

  .input-field:focus {
    border: 2px solid black;
  }




  .option{
    background-color: #ffffff;
    padding: 8px 10px;
    color: #7b7775;
    border-radius: 25px;
    border: 1px solid #ccc;
  }

  .measure{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }

  .text-area{
      margin: 10px;
      padding: 10px;

  }

  .d-flex{
      display: flex;
  }

  .f1{
    flex: 1;
  }

  .f2{
      flex:2;
  }

  .align-c{
      align-items: center;
  }

  .title-lg{
    
    font-size: 54px;
    font-family: Muli-ExtraBold;
  }

  .title-lg-light{
    font-size: 22px;
    color: #555555;
    margin: 10px 0px;
    font-family: Muli-Light;
  }

  .landing-text-content{
    padding: 0 10%;
  }

.txt-area{
    background-color: #ffffff;
    flex: 1;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;

}

button:focus{
    outline: none;
}

.landing-btn-section{
    margin:15px 0px;
}

.h2 {
    flex: 1;
    margin: 10px;
    padding: 10px;
}

.measure-card-value {
    color: #ccc;
}


.slideshow-container{
    height: 90vh;
    overflow: hidden;
}

.mySlides img{
    width:100%;
}

.mega-dropdown{
    float: left;
    padding: 50px;
    margin: 50px;

}

/* ------------Card Styles------------------- */

.card-item{
    background: #fafafa;
    border-radius: 4px;
    margin: 20px 10px;
}

.card-item .card-img{
    height: 380px;
    overflow: hidden;
}

.card-item .card-content{
    padding: 10px;
    font-size: 12px;
}

.card-item .card-content .card-title{
    font-size: 14px;
    font-family:Muli-Bold;
    margin-bottom: 5px;
}

.card-item .card-content .card-description{
    color: #484848;
}

/* ------------Card Styles Ends------------------- */

/* -------------Dropdown styles------------------- */

.wrapper{
  width: 1170px;
  margin: 20px auto;
}

nav > ul{
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  width: 1170px;
  margin: 0 auto;
  padding: 0;

}

nav a{
  display: block;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li{
  color: #ffffff;
  list-style: none;
  transition: 0.5s;
}

nav > ul > li > a{
  padding: 15px 25px;
}

nav ul > li.dropdown > a:after{
  position: relative;
  float: right;
  content: '';
  margin-left: 10px;
  margin-top: 8px;
}


/* nav > ul > li:hover{
  background: #fafafa;
} */

nav ul.menu-area{
  padding: 40px 40px 0 40px;
  background: #ffffff;
  text-align: left;
  border-top: 5px solid #ffffff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  z-index: 1;
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  top: -9999px;
  left: 0;
}

nav ul li:hover ul.menu-area{
  top: 100%;
}

nav ul.menu-area ul{
  width: 25%;
  margin-bottom: 40px;
  color: #262626;
}

nav ul.menu-area h4{
  margin-bottom: 15px;
  text-transform: uppercase;
}

nav ul.menu-area ul li{
  display: block;
}

nav ul.menu-area ul li a{
  margin-top: 10px;
  color: #000000;
  text-transform: uppercase;
}

nav ul.menu-area ul li a:hover{
    color: #EB2188;
}

/* -------------Dropdown Styles Ends-------------- */